
nav{
    width: 100vw;
    height: 75px;
    line-height: 75px;
    padding: 0px 0px;
    position: relative;
    background-color: black;
}

nav li{
    display: inline-block;
    list-style: none;
}

nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 40px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: -10px;
}

nav li a:hover{
    color: darkgrey;
    transition: all 0.4s ease 0s;
}


.bg{
    background-image: url(bg2.png);
    background-size: cover;
    height: 100vh;
     background-position: center;
    background-repeat: no-repeat;

    width: 100vw;

    
}


.imgtext{
    position: center;
    top: 25%;
    color: black;
    padding-right: 8em;
    padding-left: 1em;
    padding-top: 4em;
    font-size: 10vh;
    font-weight: bold;
}

.boxleft{
    float: left;
    width: 35%;
    background-color: beige;
    margin-top: 5% ;
    margin-bottom: 5%;
    padding:2% 5%;
    font-size: .75em;
    margin-left: 3%;
}

.boxright{
    width: 35%;
    float: right;
    background-color: beige;
    margin-top: 5% ;
    margin-bottom: 5%;
    padding:2% 5%;;
    font-size: .75em;
    margin-right: 3%;
}

.boxleft p1,.boxright p1{
    font-size: 3em;
    color: goldenrod;
    font-weight: bolder;
    text-shadow: 2px 5px gold;
}

.boxleft p2,.boxright p2{
    text-align: center;
    font-size: 1.5em;
}

footer{
   background-color: black; 
   clear:both;
}

.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: white;
    
}
.footer-right{
    text-align: right;
}
.footer-row p1{
   margin: 5px 0;
    
}
.footer-row p2{
   line-height: 35px;
}
    
.title-text{
    font-size: 2em;
    text-align: center;
    color: goldenrod;
    text-shadow: 2px 4px gold;
}
.managebox p{
    float: left;
    text-align: left;
    width: 60%;
    height: 80%;
    font-size: 1.5em;
    padding: 3%;
    
    }   
#management{
float: right;
width: 30%;
vertical-align: middle;
margin-top: 5%;}

.managebox h1, .managebox h2{
    font-size: 6vh;
    text-align: center;
    color: goldenrod;
    text-shadow: 2px 4px gold;
}
   

.column{
    float: left;
    width: 10%;
    padding: 20px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
    

.list li{
    font-size: 20px;
}


.text{
    padding: 10px;
}

    
.team{
    color: goldenrod;
    text-shadow: 2px 3px gold;
    font-size: 3em;
    font-weight: bolder;
}   
    
#f{
    border-width: thick;
}

.para{
    padding: 20px;
}

.para h3{
    padding-top: 5%;
    clear: both;
}
.para p6,.text h1{ 
    font-size: 30px;
    color: goldenrod;
    text-shadow: 1px 2px gold;
}

.f{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    position: relative;
    height: 400px;
    width: 30em;
    background: goldenrod;
    border-radius: 8px;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 100px;
}


label{
    float: left;
    width: 8em;
    text-align: right;
}

input,select, textarea{
    margin-left: 1em;
    margin-bottom: 1em;
}

textarea{
    width: 20em;
    height: 5em;
}  

#button{
    margin-left: 11em;
}

.lside,.middle{
    float: left;
    width: 29%;
    margin: 1%;
    padding: 1%;
    background-color: beige;
    font-size: 1em;
}
.rside{
    float: right;
    width: 29%;
    margin: 1%;
    padding: 1%;
    background-color: beige;
    font-size: 1em;
}

.current{
    color: darkgoldenrod;
}